:root {
    --clr-white: hsl(0, 0%, 100%);
    --clr-black: hsl(0, 0%, 0%);
    --clr-gray-300: hsl(0, 0%, 55%);
    --clr-gray-500: hsl(0, 0%, 41%);

    --font-main: "Alata", sans-serif;
    --font-accent: "Josefin Sans", sans-serif;

    --font-normal: 400;
    --font-light: 300;

    --text-body: 0.9375rem;
    --text-heading-1: 2.5rem; /* 40 - 72*/
    --text-heading-2: 2rem; /* 32 - 48 */
    --text-heading-3: 1.5rem; /* 24 - 32*/

    --leading-main: 1;
    --leading-paragraph: 1.65;

    --tracking-btn-primary: 0.3em;
    --tracking-body: 0.015em;

    --layout-max-w: 69.625rem;
    --layout-mx: 1.5rem;

    --layout-w: min(100vw - calc(var(--layout-mx) * 2), var(--layout-max-w));
}
*,
*::before,
*::after {
    box-sizing: border-box;
    margin: 0;
}
body {
    font-family: var(--font-main);
    font-size: var(--text-body);
    font-weight: var(--font-normal);
    line-height: var(--leading-main);
    position: relative;
    -webkit-font-smoothing: antialiased;
}
h1,
h2,
h3,
h4,
h5,
h6 {
    font-weight: var(--font-light);
    font-family: var(--font-accent);
    text-transform: uppercase;
    overflow-wrap: break-word;
}
p {
    overflow-wrap: break-word;
    line-height: var(--leading-paragraph);
    color: var(--clr-gray-300);
    letter-spacing: var(--tracking-body);
}
img,
picture,
video,
canvas,
svg {
    display: block;
    max-width: 100%;
}
input,
textarea,
select {
    font: inherit;
}
button {
    font: inherit;
    cursor: pointer;
    padding: 0;
}
ul {
    list-style: none;
    padding-left: 0;
}
a {
    font: inherit;
    color: inherit;
    text-decoration: inherit;
}
a:focus-visible,
button:focus-visible {
    outline-offset: 4px;
}

.btn--type-primary {
    padding: 0.8125rem 2.375rem 0.8125rem 2.3125rem;
    border: 1px solid var(--clr-black);
    background-color: transparent;
    text-transform: uppercase;
    letter-spacing: var(--tracking-btn-primary);
    transition: 200ms ease;
    transition-property: background-color, color;
}

.mobile-menu__wrapper {
    overflow-y: scroll;
    position: absolute;
    z-index: 100;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    height: 0;
    background-color: var(--clr-black);
    transition: height 300ms ease;
}
.mobile-menu__logo {
    height: 1.5rem;
    object-fit: contain;
}
.mobile-menu__pad-y {
    width: var(--layout-w);
    height: 14rem;
    padding: 2.5rem 0 0 0.0625rem;
    margin: 0 auto;
}
.mobile-menu__wrapper.shown {
    height: 100vh;
}
.mobile-menu__wrapper.shown .mobile-menu__link__list {
    transition: transform 300ms ease 300ms, opacity 300ms ease 300ms;
    transform: none;
    opacity: 1;
}
.mobile-menu__link__list {
    transform: translateX(-4rem);
    opacity: 0;
    margin: 0 auto;
    color: var(--clr-white);
    width: var(--layout-w);
    font-family: var(--font-accent);
    font-weight: var(--font-light);
    font-size: 1.5rem;
}
.mobile-menu__link__item a {
    text-transform: uppercase;
}
.mobile-menu__link__item:not(:first-child) {
    margin-top: 1.5625rem;
}
.nav__wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;

    margin-bottom: 9.625rem;
    padding: 0 0.1875rem 0 0.0625rem;
}
.nav__logo {
    height: 1.5rem;
    object-fit: contain;
}
.nav__menu-btn {
    display: flex;
    justify-content: center;
    align-items: center;
    border: none;
    background: transparent;
    min-height: 2.5rem;
    position: relative;
    z-index: 999;
}
.nav__menu-btn span span {
    display: block;
    width: 1.5rem;
    height: 0.125rem;
    background-color: var(--clr-white);
    transition: transform 300ms ease;
}
.nav__menu-btn span span:not(:first-child) {
    margin-top: 0.3125rem;
}
.nav__menu-btn.close span span:nth-child(1) {
    transform: rotate(45deg);
}
.nav__menu-btn.close span span:nth-child(2) {
    display: none;
    margin: 0;
}
.nav__menu-btn.close span span:nth-child(3) {
    transform: rotate(-45deg);
    margin-top: -0.125rem;
}
.nav__link__list {
    margin-top: 0.0625rem;
    display: none;
    gap: 2.125rem;
}
.nav__link__item a {
    position: relative;
}
.header__container {
    position: relative;
    padding: 2rem 0 14.0625rem 0;
    color: var(--clr-white);
}
.header__layout {
    width: var(--layout-w);
    margin: 0 auto;
}
.header__headline {
    font-size: var(--text-heading-1);
    line-height: calc(1em - 0.125rem);
    padding: 1.6875rem 1.5rem 1.1875rem 1.5625rem;
    border: 2px solid var(--clr-white);
    max-width: 40.75rem;
}
.header__image {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: -1;
}
.header__image img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.main__container {
    background-color: var(--clr-white);
    padding: 6rem 0;
}
.main__layout {
    width: var(--layout-w);
    margin: 0 auto;
}
.about-us__wrapper {
    position: relative;
    margin-bottom: 6rem;
}
.about-us__picture {
    margin-bottom: 3rem;
}
.about-us__picture img {
    width: 100%;
}
.about-us__content {
    text-align: center;
    padding: 0 1rem;
}
.about-us__title {
    color: var(--clr-black);
    font-size: var(--text-heading-2);
    margin-bottom: calc(0.5625em - 0.125rem);
}
.about-us__description {
    max-width: 60ch;
    margin: 0 auto;
}
.our-creations__headline {
    margin-bottom: 3rem;
    text-align: center;
}
.our-creations__headline h2 {
    color: var(--clr-black);
    font-size: var(--text-heading-2);
}
.our-creations__headline button {
    display: none;
}
.our-creations__see-all-btn--bottom {
    display: block;
    margin: 2.125rem auto 0 auto;
}
.our-creations__list {
    display: grid;
    gap: 1.5rem;
}
.our-creations__item {
    position: relative;
    text-transform: uppercase;
    font-weight: var(--font-light);
    font-family: var(--font-accent);
    font-size: var(--text-heading-3);
    color: var(--clr-white);
}
.our-creations__label {
    position: absolute;
    bottom: 1.3125rem;
    left: 1.25rem;
    max-width: 9ch;
}
.our-creations__image img {
    width: 100%;
}
.our-creations__image {
    position: relative;
}
.our-creations__image::before,
.our-creations__image::after {
    position: absolute;
    content: "";
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    transition: opacity 250ms ease;
}
.our-creations__image::after {
    background: linear-gradient(90deg, rgba(0, 0, 9, 0.6) 10%, rgba(0, 0, 0, 0) 100%);
}
.our-creations__image::before {
    background-color: var(--clr-white);
    opacity: 0;
}
.footer__container {
    background-color: var(--clr-black);
    color: var(--clr-white);
    padding: 3.5rem 0 3.8125rem 0;
}
.footer__layout {
    width: var(--layout-w);
    margin: 0 auto;
    display: grid;
    justify-items: center;
    text-align: center;
}
.footer__logo {
    height: 1.5rem;
    object-fit: contain;
    margin-bottom: 2.3125rem;
}
.footer__link__list {
    display: flex;
    flex-direction: column;
    gap: 1.625rem 2.125rem;
    padding-bottom: 3.3125rem;
}
.footer__link__item a {
    position: relative;
}
.footer__social__list {
    width: max-content;
    display: flex;
    gap: 1rem;
    padding-bottom: 1.3125rem;
}
.footer__social__item a {
    width: 1.5rem;
    height: 1.5rem;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
}
.footer__social__item a::after {
    position: absolute;
    content: "";
    height: 0.125rem;
    bottom: -0.5rem;
    left: 0;
    right: 0;
    width: 0;
    background-color: var(--clr-white);
    transition: width 250ms ease;
}
.footer__copyright {
    line-height: var(--leading-main);
}
.nav__link__item a::after,
.footer__link__item a::after {
    content: "";
    position: absolute;
    height: 0.125rem;
    bottom: -0.5rem;
    left: 50%;
    width: 0;
    background-color: var(--clr-white);
    transform: translateX(-50%);
    transition: width 250ms ease;
}
@media (hover: hover) {
    .btn--type-primary:hover {
        background-color: var(--clr-black);
        color: var(--clr-white);
    }
    .footer__link__item a:hover::after,
    .nav__link__item a:hover::after {
        width: 50%;
    }
    .footer__social__item a:hover::after {
        width: 100%;
    }

    .our-creations__link:hover .our-creations__image::after {
        opacity: 0;
    }
    .our-creations__link:hover .our-creations__image::before {
        background-color: var(--clr-white);
        opacity: 0.7;
    }
    .our-creations__link:hover .our-creations__label {
        color: var(--clr-black);
    }
}

@media screen and (min-width: 48em) {
    :root {
        --text-heading-1: 4.5rem; /* 40 - 72*/
    }
    .nav__logo {
        height: 2rem;
    }
    .nav__wrapper {
        margin-bottom: 8.0625rem;
    }
    .nav__menu-btn {
        display: none;
    }
    .nav__link__list {
        display: flex;
    }
    .header__container {
        padding: 4rem 0 9.0625rem 0;
    }
    .header__headline {
        padding: 2.4375rem 5.5rem 1.6875rem 2.4375rem;
    }
    .our-creations__list {
        grid-template-columns: repeat(2, 1fr);
    }
    .our-creations__see-all-btn--bottom {
        display: none;
    }
    .our-creations__headline {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    .our-creations__headline button {
        display: block;
    }
}

@media screen and (min-width: 64em) {
    :root {
        --text-heading-2: 3rem; /* 32 - 48 */
        --text-heading-3: 2rem; /* 24 - 32*/
    }
    .main__container {
        padding: 10rem 0 11.5rem 0;
    }
    .about-us__wrapper {
        margin-bottom: 11.5rem;
    }
    .about-us__picture {
        width: fit-content;
        margin: 0;
    }
    .about-us__content {
        text-align: start;
        position: absolute;
        bottom: 0;
        right: 0;
        padding: 6rem 0 0.0625rem 6rem;
        background-color: var(--clr-white);
        max-width: 33.875rem;
        letter-spacing: 0;
    }
    .our-creations__headline {
        margin-bottom: 5rem;
    }
    .our-creations__list {
        gap: 1.875rem;
        grid-template-columns: repeat(4, 1fr);
    }
    .our-creations__label {
        position: absolute;
        bottom: 2rem;
        left: 2.5rem;
        max-width: 9ch;
    }
    .our-creations__image::after {
        background: linear-gradient(0deg, rgba(0, 0, 9, 0.6) 10%, rgba(0, 0, 0, 0) 100%);
    }
    .footer__container {
        padding-top: 2.75rem;
        padding-bottom: 2.9375rem;
    }
    .footer__layout {
        grid-template-columns: 1fr 1fr;
        gap: 1.875rem 0;
        padding: 0 0.125rem;
    }
    .footer__layout > * {
        padding: 0;
        margin: 0;
    }
    .footer__logo {
        justify-self: start;
    }
    .footer__link__list {
        grid-column: 1 / 2;
        justify-self: start;
        align-self: center;
        flex-direction: row;
    }
    .footer__social__list {
        justify-self: end;
        grid-row: 1/2;
        grid-column: 2/3;
    }
    .footer__copyright {
        justify-self: end;
        grid-column: 2/3;
    }
}
